

@using Model.ToolsModels.Grid;
@using Model.ViewModels.Admin;
@using Model.ViewModels.ParticipantRule;

@model VmUniversityManagement
@{
    ViewBag.Title = "University Management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>University Management</h2>
<hr />


<script>
    $(document).ready(function () {

    });
</script>
<h5>Double-click on the grid row to update team member. </h5>

<div class="col-xs-6">

    @Html.Partial("PartialViewUniversityGrid", new VmJsGrid()
{
   DataAction = "gpbf",
   DataController = "University",

   CreateAction = "cpr",
   CreateController = "University",

   EditAction = "upr",
   EditController = "University",

   DeleteAction = "dpr",
   DeleteController = "University",

   ReadOnly = false,
   HtmlElementId = "University_UniversityJsGrid",
   CurrentUserRoles = Model.CurrentUserRoles
})



</div>